body {
  margin: 0 auto;
}

.container-fluid {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 737px;
  background: url(/img/bg-photo/header-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "SignikaRegular";
  src: url("../fonts/Signika-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SignikaSemibold";
  src: url("../fonts/Signika-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMSerif-Display-Regular";
  src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT-Serif-Regular";
  src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Rubik-regular";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.navbar img {
  padding-right: 12px;
}

.navbar a {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #505050;
}

.navbar ul {
  margin-left: 132px;
}

.navbar li a {
  margin-right: 50px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  color: #717784 !important;
}

.navbar #header_nav_btn {
  width: 220px;
  height: 60px;
  font-family: Poppins-Regular;
  font-weight: 600;
  color: white;
  font-size: 18px;
  background: #9B9BCA;
  border-radius: 10px;
}

.header_text_section {
  margin-top: 13%;
}

.header_text_section h1 {
  font-family: DMSerif-Display-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 100%;
  color: #696A86;
}

.header_text_section p {
  margin-top: 30px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #696A86;
}

.header_text_section button {
  margin-top: 30px;
  width: 234px;
  height: 60px;
  background: #9B9BCA;
  border-radius: 10px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.content-section .container .row .col {
  margin-top: 10%;
  font-family: Poppins-Regular;
  font-style: normal;
  color: #626780;
  text-align: center;
}

.content-section .container .row .col h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
}

.content-section .container .row .col p {
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
}

.content-section .container .icons-card-block {
  margin-top: 13%;
}

.content-section .container .icons-card-block .col-md-3 {
  font-family: Poppins-Regular;
  font-style: normal;
  text-align: center;
}

.content-section .container .icons-card-block .col-md-3 img {
  margin-top: 23px;
}

.content-section .container .icons-card-block .col-md-3 h1 {
  margin-top: 21px;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  color: #626780;
}

.content-section .container .icons-card-block .col-md-3 p {
  margin-top: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #626780;
}

.content-section .container .icons-card-block .col-md-3:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #9D9D9D;
  border-radius: 5px;
  border-bottom: 7px solid #C4C4C4;
}

.content-section .container .support-section {
  margin-top: 13%;
  font-family: Poppins-Regular;
  font-style: normal;
  color: #626780;
}

.content-section .container .support-section h1 {
  margin-top: 100px;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
}

.content-section .container .support-section p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 30px;
}
/*# sourceMappingURL=mainstyle.css.map */