@font-face {
    font-family: "SignikaRegular";  
    src: url("../fonts/Signika-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
@font-face {
    font-family: "SignikaSemibold";  
    src: url("../fonts/Signika-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
    }
@font-face {
    font-family: "MontserratRegular";  
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "DMSerif-Display-Regular";  
    src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Poppins-Regular";  
    src: url("../fonts/Poppins-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "PT-Serif-Regular";  
    src: url("../fonts/PTSerif-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Regular";  
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Rubik-regular";  
    src: url("../fonts/Rubik-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}