body
    margin: 0 auto
.container-fluid
    max-width: 1600px
    width: 100%
    margin: 0 auto
.container
    max-width: 1110px
    width: 100%
    margin: 0 auto
.header
    height: 737px
    background: url(/img/bg-photo/header-bg.png)
    background-size: 100% auto
    background-repeat: no-repeat
.dropdown
    background: url(/img/bg-photo/dropdown-bg.png)
    height: 1030px
    background-repeat: no-repeat
    background-position: right
    
